pkgbase = dwm
	pkgdesc = A dynamic window manager for X
	pkgver = 6.2
	pkgrel = 1
	url = http://dwm.suckless.org
	install = dwm.install
	arch = i686
	arch = x86_64
	license = MIT
	depends = libx11
	depends = libxinerama
	depends = libxft
	depends = freetype2
	depends = st
	depends = dmenu
	options = zipman
	source = dwm-6.2.tar.gz
	source = config.h
	source = dwm.desktop
#	sha256sums = 1d53831f92fd9da16b99d41ae6e7a2ad65c6865eaec65bdc98cc6c4c4481d653
#	sha256sums = f26e00fef844c84c4e4d56070fe0ae1acb17e4bcec177b1b1c6db73ba7aebf49
#	sha256sums = bc36426772e1471d6dd8c8aed91f288e16949e3463a9933fee6390ee0ccd3f81

pkgname = dwm

